.mat
.xls
.csv
uci77b/data/pear_data_00.mat

uci77b/data/pear_test.mat

uci77b/data/prediction_indices.mat

uci77b/data/test_data_row1.csv

uci77b/data/train_data_row1.csv

uci77b/data/test_set.mat

uci77b/data/test_data_row1.xls

uci77b/data/train_set.mat
